.button {
  display: block;
  padding: 11px;
  line-height: 21px;
  font-size: 14px;
  text-decoration: none;
  background-color: $button-color;
  color: $white;
  border-radius: 50px;

  &:hover,
  &:active {
    background-color: #00d29f;
    color: $white;
  }
}

.button--secondary {
  color: $button-color;
  border: 1px solid $button-color;
  background-color: $white;

  &:hover,
  &:active {
    background-color: $button-color;
    color: $white;
  }
}
