.contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: auto;

  @media (min-width: $desktop) {
    flex-direction: row;
    margin: 0;
    margin-right: auto;
    align-items: center;
    width: 772px;
    justify-content: space-between;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  order: 2;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop) {
    position: relative;
    order: 1;
  }

  & p {
    @media (max-width: ($desktop - 1px)) {
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
    }
    margin: 0;
  }

  & span {
    display: block;
    color: #868686;

    @media (max-width: ($desktop - 1px)) {
      display: none;
    }
  }
}

.contacts__phone {
  order: 1;
  color: $base-color;
  text-decoration: none;
  font-weight: 700;
  line-height: 21px;

  @media (min-width: $desktop) {
    position: relative;
    font-weight: 400;
    order: 2;
    line-height: 24px;
  }

  & svg {
    display: none;

    @media (min-width: $desktop) {
      position: absolute;
      display: block;
      top: -2px;
      left: -37px;
    }
  }

  &:hover,
  &:active {
    color: $button-color;
  }
}

.contacts__icon {
  display: none;

  @media (min-width: $desktop) {
    position: absolute;
    display: block;
    top: 0;
    left: -23px;
  }
}
