.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
