.header {
  position: relative;
  width: 100%;
  background-color: $button-mobile;

  @media (min-width: $desktop) {
    background-color: $white
  }
}

.header__wrapper {
  display: flex;
  padding: 3px 18px;
  padding-left: 0;
  align-items: center;
  margin: 0 auto;
  width: $mobile;

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 12px 90px;
  }
}


.header__link {
  line-height: 0;

  &:hover,
  &:active {
    opacity: 50%;
  }
}
