.js-toggle-button {
  position: relative;
  width: 37px;
  height: 26px;
  padding: 17px;
  left: 0;
  top: 1px;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 4px;
    background-color: $header-color;
    box-shadow:
      0 11px 0 0 $header-color,
      0 22px 0 0 $header-color;
    left: 17px;
    top: 18px;
  }

  &--opened {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 4px;
      background-color: $header-color;
      box-shadow: none;
      transform: rotate(45deg);
      top: 29px;
      left: 17px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 4px;
      background-color: $header-color;
      box-shadow: none;
      transform: rotate(-45deg);
      left: 17px;
      top: 29px;
    }
  }

  &:hover,
  &:active {
    opacity: 50%;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
