.logo {
  position: absolute;
  margin-right: 44px;
  margin-left: 26px;
  top: 24px;

  @media (min-width: $desktop) {
    position: static;
    margin-left: 0;
    width: 91px;
    height: 27px;
  }

  &--footer {
    position: static;
    margin: 0;
    margin-bottom: 31px;

    @media (min-width: $desktop) {
      margin: 0;
    }
  }
}
