.main-navigation {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.24px;
  z-index: 100;

  @media (max-width: ($tablet - 1px)) {
    position: absolute;
    left: calc((100vw - 320px) / -2);
    top: 60px;
    width: 100vw;
  }

  @media (min-width: $tablet) {
    width: 400px;
    margin-left: 67px;
    margin-right: 60px;
  }

  @media (min-width: $desktop) {
    width: 600px;
    margin: 0 auto;
    margin-left: 90px;
  }

  &--closed {
    @media (max-width: ($tablet - 1px)) {
      display: none;
    }
  }
}
