.map {
  margin: 0;
}

.map__image {
  display: block;
  margin: 0;
  width: 100vw;
  min-width: $mobile;
  height: 420px;
  object-fit: cover;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}
