.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  width: $mobile;
  margin: 0;

  @media (min-width: $desktop) {
    width: 700px;
    flex-direction: row;
    gap: 30px;
  }

  &--footer {
    gap: 15px;

    @media (max-width: ($desktop - 1px)) {
      font-size: 14px;
      line-height: 18px;
    }

    @media (min-width: $desktop) {
      gap: 30px;
      justify-content: center;
      margin-left: 40px;
      margin-bottom: 15px;
    }
  }
}
.menu__link {
  color: $white;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: 50%;
  }
}
