.order {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop) {
    justify-content: start;
  }
}

.order__old-price {
  line-height: 32px;
  color: $primary-color;
  text-decoration: line-through;
}

.order__new-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-left: 6px;
  margin-right: 20px;
}
