.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans Caption", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
