.slider {
  width: 169px;
  display: flex;
  align-items: center;
  gap: 36px;
  margin: 0 auto;
  margin-top: 22px;

  @media (min-width: $desktop) {
    margin-top: 34px;
  }

  & p {
    font-size: 18px;
    line-height: 23px;
    color: #c0c0c0;

    & b {
      font-weight: 400;
      color: $base-color;
    }
  }
}

.slider__button {
  border: none;
  background-color: transparent;
  color: #c0c0c0;
  cursor: pointer;

  &:hover,
  &:active {
    color: $button-color;
  }
}
