.social {
  display: block;
  position: absolute;
  top: 0;
  right: 18px;

  @media (min-width: $desktop) {
    position: static;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  width: 111px;
  gap: 20px;

  @media (min-width: $desktop) {
    width: 135px;
    gap: 15px;

    & img {
      width: 35px;
      height: 35px;
    }
  }
}

.social__link:hover,
.social__link:active {
  opacity: 50%;
}
