/* здесь используйте глобальные переменные */
$base-color: #333333;
$primary-color: #7859cf;
$primary-light: #9070ec;
$primary-dark: #593cac;
$grey: #bdbdbd;
$bg-color: #f3ebe1;
$catalog-bg-color: #f8f8f8;
$active-color:#f0ebff;
$white: #ffffff;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
