$button-color: #0dbc91;
$header-color: #1fa181;
$about-bg: #f8fbfa;
$services-bg: #e2f0ef;
$button-mobile: #f6f6f6;
$bg-color: #f3ebe1;
$white: #ffffff;
$base-color: #364844;
$mobile: 375px;
$desktop: 1320px;
